## Calculating Covariance and Correlation

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Consider a portfolio composed of *Walmart* and *Facebook*. Do you expect the returns of these companies to show high or low covariance? Or, could you guess what the correlation would be? Will it be closer to 0 or closer to 1?

Begin by extracting data for Walmart and Facebook from the 1st of January 2014 until today.

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [2]:
tickers = ['WMT', 'FB']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='google', start='2014-1-1')['Close']

In [3]:
sec_data.head()

              WMT     FB
Date
2014-01-02  78.91  54.71
2014-01-03  78.65  54.56
2014-01-06  78.21  57.20
2014-01-07  78.45  57.92
2014-01-08  77.83  58.23

In [4]:
returns = np.log(sec_data / sec_data.shift(1))
returns

                 WMT        FB
Date
2014-01-02       NaN       NaN
2014-01-03 -0.003300 -0.002745
2014-01-06 -0.005610  0.047253
2014-01-07  0.003064  0.012509
2014-01-08 -0.007935  0.005338
2014-01-09  0.003335 -0.017497
2014-01-10 -0.000640  0.012505
2014-01-13 -0.007073 -0.035665
2014-01-14  0.006047  0.032207
2014-01-15 -0.003856 -0.002428
2014-01-16 -0.011657 -0.007144
2014-01-17 -0.007453 -0.015685
2014-01-21 -0.004604  0.038503
2014-01-22 -0.006482 -0.017239
2014-01-23 -0.005189 -0.015420
2014-01-24 -0.007230 -0.039256
2014-01-27 -0.003635 -0.016667
2014-01-28  0.006988  0.029260
2014-01-29 -0.007663 -0.029633
2014-01-30  0.008734  0.131942
2014-01-31 -0.000937  0.024101
2014-02-03 -0.027421 -0.017574
2014-02-04  0.000963  0.020447
2014-02-05  0.001923 -0.008964
2014-02-06 -0.000686 -0.000483
2014-02-07  0.012690  0.034159
2014-02-10  0.000136 -0.012044
2014-02-11  0.014001  0.020250
2014-02-12  0.002137 -0.006187
2014-02-13  0.005322  0.043716
...              ...       ...
2017-05-23 -0.000764 -0.001147
2017-05-24 -0.004341  0.013217
2017-05-25  0.002045  0.012715
2017-05-26 -0.002301  0.001118
2017-05-30  0.000256  0.001642
2017-05-31  0.005742 -0.006056
2017-06-01  0.015277  0.000462
2017-06-02 -0.002383  0.013633
2017-06-05  0.008006  0.000130
2017-06-06 -0.016710 -0.005352
2017-06-07  0.002783  0.002027
2017-06-08 -0.002783  0.010330
2017-06-09  0.006189 -0.033587
2017-06-12 -0.002269 -0.007784
2017-06-13  0.003527  0.014978
2017-06-14  0.004767 -0.002858
2017-06-15 -0.012468 -0.003000
2017-06-16 -0.047625  0.005592
2017-06-19  0.003450  0.014695
2017-06-20  0.000530 -0.004064
2017-06-21  0.009224  0.010844
2017-06-22 -0.009489 -0.003319
2017-06-23 -0.009045  0.010828
2017-06-26  0.008780 -0.009590
2017-06-27  0.006732 -0.019792
2017-06-28  0.006557  0.017511
2017-06-29 -0.007610 -0.014461
2017-06-30 -0.003298 -0.000397
2017-07-03 -0.004237 -0.017034
2017-07-05 -0.000531  0.012786

[883 rows x 2 columns]

Repeat the process we went through in the lecture for these two stocks. How would you explain the difference between their means and their standard deviations?

In [6]:
returns[['WMT', 'FB']].mean() * 250

WMT   -0.013198
FB     0.286523
dtype: float64

In [8]:
returns[['WMT', 'FB']].std() * 250 ** 0.5

WMT    0.176440
FB     0.281504
dtype: float64

***

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

***

In [9]:
cov_matrix = returns.cov()
cov_matrix

          WMT        FB
WMT  0.000125  0.000033
FB   0.000033  0.000317

In [10]:
cov_matrix_a = returns.cov() * 250
cov_matrix_a

          WMT        FB
WMT  0.031131  0.008339
FB   0.008339  0.079244

***

In [11]:
corr_matrix = returns.corr()
corr_matrix

          WMT        FB
WMT  1.000000  0.167889
FB   0.167889  1.000000

Would you consider investing in such a portfolio?