In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from numpy.random import randn
%matplotlib inline
np.random.seed(101)

In [16]:
# Index Levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [17]:
# Multi-index DataFrame
# index hierarchy 
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])
df

             A         B
G1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
G2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [18]:
df.loc['G1']

          A         B
1  2.706850  0.628133
2  0.907969  0.503826
3  0.651118 -0.319318

In [19]:
df.loc['G1'].loc[1]

A    2.706850
B    0.628133
Name: 1, dtype: float64

In [13]:
df['A']

G1  1    0.538594
    2   -1.256008
    3   -0.650400
G2  1    0.756119
    2    0.278255
    3   -0.006295
Name: A, dtype: float64

In [21]:
df.index.names = ['Group', 'Num']
df

                  A         B
Group Num
G1    1    2.706850  0.628133
      2    0.907969  0.503826
      3    0.651118 -0.319318
G2    1   -0.848077  0.605965
      2   -2.018168  0.740122
      3    0.528813 -0.589001

In [24]:
df.loc['G2'].loc[2]['B']

0.74012205705610679

In [26]:
df.loc['G1'].loc[3]['A']

0.6511179479432686

In [27]:
df

                  A         B
Group Num
G1    1    2.706850  0.628133
      2    0.907969  0.503826
      3    0.651118 -0.319318
G2    1   -0.848077  0.605965
      2   -2.018168  0.740122
      3    0.528813 -0.589001

In [28]:
df.xs('G1')

            A         B
Num
1    2.706850  0.628133
2    0.907969  0.503826
3    0.651118 -0.319318

In [29]:
df.xs(1, level='Num')

              A         B
Group
G1     2.706850  0.628133
G2    -0.848077  0.605965