In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [27]:
name = "foo bar"
number = 42
print("my name is " + name)
print("my name is {}".format(name))
print("my name is {} and my age is {}".format(name, number))
print("my name is {x} and my age is {y}".format(x=name, y=number))

#Can index strings
barf = "this is my string"
print(barf[11:])

my name is foo bar
my name is foo bar
my name is foo bar and my age is 42
my name is foo bar and my age is 42
string

In [83]:
my_list = ['a','b','c','d']
print(my_list[-1]) #d
print(my_list[0:2]) # a and b
print(my_list[2:]) # c to the end

d
['a', 'b']
['c', 'd']

In [17]:
# nested list
nested = [1, 2, ['a','b','c']]
print(nested[2]) #nested list
print(nested[2][2]) # c from nested list

['a', 'b', 'c']
c

In [19]:
# dictionaries
d = {'key1':'foo', 'key2':'bar', 'key3':'blatz'}
print(d['key2'])

bar

In [22]:
# tuples are immutable (can't change)
t = (1,2,3,4,5) # good for things that can't be changed
print(t[2])

3

In [26]:
# Set
s = {1,2,33,3,3,3,4,5,6}
print(s) #only prints unique instances
# can pass in list and get back a unique
l = [1,1,1,1,1,2,2,2,2,3,3,3,3,4,5,6]
s2 = set(l)
print(s2)

{1, 2, 3, 4, 33, 5, 6}
{1, 2, 3, 4, 5, 6}

In [31]:
# comparison ops
print((1==1) and (1==2))
print((1==2) or (1==1))
print((1==1) and not (1==3))

False
True
True

In [32]:
for item in range(5):
    print(item**2)

0
1
4
9
16

In [34]:
for item in range(0,20,2):
    print(item**2)

0
4
16
36
64
100
144
196
256
324

In [39]:
input = [1,2,3,4,5,6,7]
output = []
for num in input:
    output.append(num**2)
print(output)
# list comprehension in python generates same as above
print([num**2 for num in input])

[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49]

In [44]:
def my_func(param='barfoo'):
    """
    DOCSTRING
    """
    print(param)

x = 'foobar'
my_func(x)
my_func()

foobar
barfoo

In [45]:
def retfunc(parm=1):
    """
    I DONT KNOW
    """
    return(parm*5)
    
x=retfunc()
print(x)
y=retfunc(5)
print(y)

5
25

In [54]:
# lambda expression or anonymous funtion
def times_two(var):
    return(var*2)
print(times_two(4))

#lambda func would be
print(lambda var: var*2) # more useful with map() and filter()

seq = range(5)
print(list(map(times_two, seq)))
print(list(map(lambda var: var*2, seq)))

8
<function <lambda> at 0x107dfb158>
[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]

In [59]:
def is_even(num):
    return num%2==0

print(list(filter(is_even, seq)))
print(list(filter(lambda num: num%2==0, seq)))

[0, 2, 4]
[0, 2, 4]

In [64]:
st = "You should have seen me in the 90s, I could ollie up a curb, You should have seen me in the 80s, I was bumping New Edition, dragging acne into Hades"
print(st.lower())
print(st.upper())
print(st.split())
print(st.split(','))

you should have seen me in the 90s, i could ollie up a curb, you should have seen me in the 80s, i was bumping new edition, dragging acne into hades
YOU SHOULD HAVE SEEN ME IN THE 90S, I COULD OLLIE UP A CURB, YOU SHOULD HAVE SEEN ME IN THE 80S, I WAS BUMPING NEW EDITION, DRAGGING ACNE INTO HADES
['You', 'should', 'have', 'seen', 'me', 'in', 'the', '90s,', 'I', 'could', 'ollie', 'up', 'a', 'curb,', 'You', 'should', 'have', 'seen', 'me', 'in', 'the', '80s,', 'I', 'was', 'bumping', 'New', 'Edition,', 'dragging', 'acne', 'into', 'Hades']
['You should have seen me in the 90s', ' I could ollie up a curb', ' You should have seen me in the 80s', ' I was bumping New Edition', ' dragging acne into Hades']

In [70]:
print(d)
print(d.keys())
print(d.items())
print(d.values())

{'key1': 'foo', 'key2': 'bar', 'key3': 'blatz'}
dict_keys(['key1', 'key2', 'key3'])
dict_items([('key1', 'foo'), ('key2', 'bar'), ('key3', 'blatz')])
dict_values(['foo', 'bar', 'blatz'])

In [90]:
my_list
my_list.append('foo')
my_list
my_list.pop()
my_list.pop(4)
my_list

['a', 'b', 'c', 'd', 'foo']

In [93]:
print(1 in my_list)
print('a' in my_list)

False
True