## Diversifiable and Non-Diversifiable Risk of a Portfolio

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Import the same dataset we used in the previous lecture – Microsoft and Apple stock, downloaded from Google Finance. Timeframe – 1st of January 2007 until today. <br />
*Hint: To save time, we have written the code you need!*

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

tickers = ['MSFT', 'AAPL']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='google', start='2007-1-1')['Close']
    
sec_data

             MSFT    AAPL
Date
2007-01-03  29.86   11.97
2007-01-04  29.81   12.24
2007-01-05  29.64   12.15
2007-01-08  29.93   12.21
2007-01-09  29.96   13.22
2007-01-10  29.66   13.86
2007-01-11  30.70   13.69
2007-01-12  31.21   13.52
2007-01-16  31.16   13.87
2007-01-17  31.10   13.56
2007-01-18  31.00   12.72
2007-01-19  31.11   12.64
2007-01-22  30.72   12.40
2007-01-23  30.74   12.24
2007-01-24  31.09   12.39
2007-01-25  30.45   12.32
2007-01-26  30.60   12.20
2007-01-29  30.53   12.28
2007-01-30  30.48   12.22
2007-01-31  30.86   12.25
2007-02-01  30.56   12.11
2007-02-02  30.19   12.11
2007-02-05  29.61   11.99
2007-02-06  29.51   12.02
2007-02-07  29.37   12.31
2007-02-08  29.26   12.31
2007-02-09  28.98   11.90
2007-02-12  28.94   12.13
2007-02-13  29.03   12.09
2007-02-14  29.40   12.19
...           ...     ...
2017-05-23  68.68  153.80
2017-05-24  68.77  153.34
2017-05-25  69.62  153.87
2017-05-26  69.96  153.61
2017-05-30  70.41  153.67
2017-05-31  69.84  152.76
2017-06-01  70.10  153.18
2017-06-02  71.76  155.45
2017-06-05  72.28  153.93
2017-06-06  72.52  154.45
2017-06-07  72.39  155.37
2017-06-08  71.95  154.99
2017-06-09  70.32  148.98
2017-06-12  69.78  145.42
2017-06-13  70.65  146.59
2017-06-14  70.27  145.16
2017-06-15  69.90  144.29
2017-06-16  70.00  142.27
2017-06-19  70.87  146.34
2017-06-20  69.91  145.01
2017-06-21  70.27  145.87
2017-06-22  70.26  145.63
2017-06-23  71.21  146.28
2017-06-26  70.53  145.82
2017-06-27  69.21  143.73
2017-06-28  69.80  145.83
2017-06-29  68.49  143.68
2017-06-30  68.93  144.02
2017-07-03  68.17  143.50
2017-07-05  69.08  144.09

[2644 rows x 2 columns]

In [2]:
sec_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2644 entries, 2007-01-03 to 2017-07-05
Data columns (total 2 columns):
MSFT    2644 non-null float64
AAPL    2644 non-null float64
dtypes: float64(2)
memory usage: 62.0 KB

Then, calculate the diversifiable and the non-diversifiable risk of a portfolio, composed of these two stocks:

a) with weights 0.5 and 0.5;

In [3]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001676  0.022306
2007-01-05 -0.005719 -0.007380
2007-01-08  0.009737  0.004926
2007-01-09  0.001002  0.079476
2007-01-10 -0.010064  0.047276
2007-01-11  0.034463 -0.012341
2007-01-12  0.016476 -0.012496
2007-01-16 -0.001603  0.025558
2007-01-17 -0.001927 -0.022604
2007-01-18 -0.003221 -0.063949
2007-01-19  0.003542 -0.006309
2007-01-22 -0.012615 -0.019170
2007-01-23  0.000651 -0.012987
2007-01-24  0.011321  0.012180
2007-01-25 -0.020800 -0.005666
2007-01-26  0.004914 -0.009788
2007-01-29 -0.002290  0.006536
2007-01-30 -0.001639 -0.004898
2007-01-31  0.012390  0.002452
2007-02-01 -0.009769 -0.011494
2007-02-02 -0.012181  0.000000
2007-02-05 -0.019399 -0.009959
2007-02-06 -0.003383  0.002499
2007-02-07 -0.004755  0.023840
2007-02-08 -0.003752  0.000000
2007-02-09 -0.009615 -0.033874
2007-02-12 -0.001381  0.019143
2007-02-13  0.003105 -0.003303
2007-02-14  0.012665  0.008237
...              ...       ...
2017-05-23  0.003354 -0.001235
2017-05-24  0.001310 -0.002995
2017-05-25  0.012284  0.003450
2017-05-26  0.004872 -0.001691
2017-05-30  0.006412  0.000391
2017-05-31 -0.008128 -0.005939
2017-06-01  0.003716  0.002746
2017-06-02  0.023404  0.014710
2017-06-05  0.007220 -0.009826
2017-06-06  0.003315  0.003372
2017-06-07 -0.001794  0.005939
2017-06-08 -0.006097 -0.002449
2017-06-09 -0.022915 -0.039549
2017-06-12 -0.007709 -0.024186
2017-06-13  0.012391  0.008013
2017-06-14 -0.005393 -0.009803
2017-06-15 -0.005279 -0.006011
2017-06-16  0.001430 -0.014099
2017-06-19  0.012352  0.028206
2017-06-20 -0.013639 -0.009130
2017-06-21  0.005136  0.005913
2017-06-22 -0.000142 -0.001647
2017-06-23  0.013431  0.004453
2017-06-26 -0.009595 -0.003150
2017-06-27 -0.018893 -0.014436
2017-06-28  0.008489  0.014505
2017-06-29 -0.018946 -0.014853
2017-06-30  0.006404  0.002364
2017-07-03 -0.011087 -0.003617
2017-07-05  0.013261  0.004103

[2644 rows x 2 columns]

### Calculating Portfolio Variance

Equal weightings scheme:

In [4]:
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [5]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.065830278588091179

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Diversifiable Risk:

In [6]:
MSFT_var_a = sec_returns[['MSFT']].var() * 250
MSFT_var_a

MSFT    0.076367
dtype: float64

In [7]:
AAPL_var_a = sec_returns[['AAPL']].var() * 250
AAPL_var_a

AAPL    0.10423
dtype: float64

Or:

In [8]:
MSFT_var_a = sec_returns['MSFT'].var() * 250
MSFT_var_a

0.076366871386363555

In [9]:
AAPL_var_a = sec_returns['AAPL'].var() * 250
AAPL_var_a

0.10423034934097763

Calculating Diversifiable Risk:

In [10]:
dr = pfolio_var - (weights[0] ** 2 * MSFT_var_a) - (weights[1] ** 2 * AAPL_var_a)
dr

0.020680973406255881

In [11]:
print str(round(dr*100, 3)) + ' %'

2.068 %

Calculating Non-Diversifiable Risk:

In [12]:
n_dr_1 = pfolio_var - dr
n_dr_1

0.045149305181835298

Or:

In [13]:
n_dr_2 = (weights[0] ** 2 * MSFT_var_a) + (weights[1] ** 2 * AAPL_var_a)
n_dr_2

0.045149305181835298

*****

b)	With weights 0.2 for Microsoft and 0.8 for Apple.

### Calculating Portfolio Variance

In [14]:
weights_2 = np.array([0.2, 0.8])

Portfolio Variance:

In [15]:
pfolio_var_2 = np.dot(weights_2.T, np.dot(sec_returns.cov() * 250, weights_2))
pfolio_var_2

0.082997921413684103

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Calculating Diversifiable Risk:

In [16]:
dr_2 = pfolio_var_2 - (weights_2[0] ** 2 * MSFT_var_a) - (weights_2[1] ** 2 * AAPL_var_a)
dr_2

0.01323582298000385

In [17]:
print str(round(dr*100, 3)) + ' %'

2.068 %

Calculating Non-Diversifiable Risk:

In [18]:
n_dr_2 = pfolio_var_2 - dr_2
n_dr_2

0.069762098433680253

Or:

In [19]:
n_dr_2 = (weights_2[0] ** 2 * MSFT_var_a) + (weights_2[1] ** 2 * AAPL_var_a)
n_dr_2

0.069762098433680253