## Calculating the Risk of a Security

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today. <br />
Assess the daily and the annual risk of ‘MSFT’. Repeat the exercise for Apple for the same timeframe.

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [6]:
tickers = ['MSFT', 'AAPL']

data = pd.DataFrame()

for t in tickers:
    data[t] = wb.DataReader(t, data_source='google', start='2002-1-1')['Close']

In [7]:
returns = np.log(data / data.shift(1))
returns

                MSFT      AAPL
Date
2002-01-02       NaN       NaN
2002-01-03  0.032289  0.011976
2002-01-04 -0.004923  0.005935
2002-01-07 -0.004947 -0.030032
2002-01-08  0.011889 -0.012270
2002-01-09 -0.009558 -0.044171
2002-01-10  0.008116 -0.019545
2002-01-11 -0.009864 -0.013245
2002-01-14 -0.001751  0.006645
2002-01-15  0.015648  0.026145
2002-01-16 -0.024448 -0.046213
2002-01-17  0.028752  0.084192
2002-01-18 -0.055324 -0.018809
2002-01-22 -0.025124 -0.012739
2002-01-23 -0.011233  0.050010
2002-01-24  0.014330  0.012121
2002-01-25 -0.013390  0.000000
2002-01-28  0.000313  0.000000
2002-01-29 -0.023784 -0.006042
2002-01-30  0.008309  0.041549
2002-01-31  0.013907  0.028655
2002-02-01 -0.016775 -0.017094
2002-02-04 -0.024884  0.039442
2002-02-05  0.000654  0.005510
2002-02-06 -0.012504 -0.033523
2002-02-07 -0.009983 -0.011429
2002-02-08  0.013949 -0.011561
2002-02-11  0.007884  0.034289
2002-02-12 -0.016164 -0.011300
2002-02-13  0.027552  0.016902
...              ...       ...
2017-05-23  0.003354 -0.001235
2017-05-24  0.001310 -0.002995
2017-05-25  0.012284  0.003450
2017-05-26  0.004872 -0.001691
2017-05-30  0.006412  0.000391
2017-05-31 -0.008128 -0.005939
2017-06-01  0.003716  0.002746
2017-06-02  0.023404  0.014710
2017-06-05  0.007220 -0.009826
2017-06-06  0.003315  0.003372
2017-06-07 -0.001794  0.005939
2017-06-08 -0.006097 -0.002449
2017-06-09 -0.022915 -0.039549
2017-06-12 -0.007709 -0.024186
2017-06-13  0.012391  0.008013
2017-06-14 -0.005393 -0.009803
2017-06-15 -0.005279 -0.006011
2017-06-16  0.001430 -0.014099
2017-06-19  0.012352  0.028206
2017-06-20 -0.013639 -0.009130
2017-06-21  0.005136  0.005913
2017-06-22 -0.000142 -0.001647
2017-06-23  0.013431  0.004453
2017-06-26 -0.009595 -0.003150
2017-06-27 -0.018893 -0.014436
2017-06-28  0.008489  0.014505
2017-06-29 -0.018946 -0.014853
2017-06-30  0.006404  0.002364
2017-07-03 -0.011087 -0.003617
2017-07-05  0.013261  0.004103

[3903 rows x 2 columns]

### MSFT

Daily risk:

In [8]:
returns['MSFT'].std()

0.017333461935536087

Annual risk:

In [9]:
returns['MSFT'].std() * 250 ** 0.5

0.27406609726062364

### Apple

Daily risk:

In [10]:
returns['AAPL'].std()

0.022295415528595375

Annual risk:

In [11]:
returns['AAPL'].std() * 250 ** 0.5

0.35252147225124164

******

Store the volatilities of the two stocks in an array called "vols".

In [12]:
vols = returns[['MSFT', 'AAPL']].std() * 250 ** 0.5
vols

MSFT    0.274066
AAPL    0.352521
dtype: float64

How are the two risk values different?