## Calculating Portfolio Risk

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Calculate the risk of an equally weighted portfolio composed of Microsoft and Apple. The data can be obtained from Yahoo Finance for the period 1st of January 2007 until today.

*Hint: The code we went through in the lecture is what you need here. You will need to import the data first. The previous lessons could be a good reference point for that! :) *

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['MSFT', 'AAPL']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='google', start='2007-1-1')['Close']

In [3]:
sec_data.tail()

             MSFT    AAPL
Date
2017-06-28  69.80  145.83
2017-06-29  68.49  143.68
2017-06-30  68.93  144.02
2017-07-03  68.17  143.50
2017-07-05  69.08  144.09

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

                MSFT      AAPL
Date
2007-01-03       NaN       NaN
2007-01-04 -0.001676  0.022306
2007-01-05 -0.005719 -0.007380
2007-01-08  0.009737  0.004926
2007-01-09  0.001002  0.079476
2007-01-10 -0.010064  0.047276
2007-01-11  0.034463 -0.012341
2007-01-12  0.016476 -0.012496
2007-01-16 -0.001603  0.025558
2007-01-17 -0.001927 -0.022604
2007-01-18 -0.003221 -0.063949
2007-01-19  0.003542 -0.006309
2007-01-22 -0.012615 -0.019170
2007-01-23  0.000651 -0.012987
2007-01-24  0.011321  0.012180
2007-01-25 -0.020800 -0.005666
2007-01-26  0.004914 -0.009788
2007-01-29 -0.002290  0.006536
2007-01-30 -0.001639 -0.004898
2007-01-31  0.012390  0.002452
2007-02-01 -0.009769 -0.011494
2007-02-02 -0.012181  0.000000
2007-02-05 -0.019399 -0.009959
2007-02-06 -0.003383  0.002499
2007-02-07 -0.004755  0.023840
2007-02-08 -0.003752  0.000000
2007-02-09 -0.009615 -0.033874
2007-02-12 -0.001381  0.019143
2007-02-13  0.003105 -0.003303
2007-02-14  0.012665  0.008237
...              ...       ...
2017-05-23  0.003354 -0.001235
2017-05-24  0.001310 -0.002995
2017-05-25  0.012284  0.003450
2017-05-26  0.004872 -0.001691
2017-05-30  0.006412  0.000391
2017-05-31 -0.008128 -0.005939
2017-06-01  0.003716  0.002746
2017-06-02  0.023404  0.014710
2017-06-05  0.007220 -0.009826
2017-06-06  0.003315  0.003372
2017-06-07 -0.001794  0.005939
2017-06-08 -0.006097 -0.002449
2017-06-09 -0.022915 -0.039549
2017-06-12 -0.007709 -0.024186
2017-06-13  0.012391  0.008013
2017-06-14 -0.005393 -0.009803
2017-06-15 -0.005279 -0.006011
2017-06-16  0.001430 -0.014099
2017-06-19  0.012352  0.028206
2017-06-20 -0.013639 -0.009130
2017-06-21  0.005136  0.005913
2017-06-22 -0.000142 -0.001647
2017-06-23  0.013431  0.004453
2017-06-26 -0.009595 -0.003150
2017-06-27 -0.018893 -0.014436
2017-06-28  0.008489  0.014505
2017-06-29 -0.018946 -0.014853
2017-06-30  0.006404  0.002364
2017-07-03 -0.011087 -0.003617
2017-07-05  0.013261  0.004103

[2644 rows x 2 columns]

## MSFT

In [6]:
sec_returns['MSFT'].mean()

0.00031734599363126453

In [7]:
sec_returns['MSFT'].mean() * 250

0.079336498407816133

In [8]:
sec_returns['MSFT'].std()

0.017477628144157726

In [9]:
sec_returns['MSFT'].std() * 250 ** 0.5

0.27634556516500053

## Apple

In [10]:
sec_returns['AAPL'].mean()

0.00094136760680096757

In [11]:
sec_returns['AAPL'].mean() * 250

0.23534190170024188

In [12]:
sec_returns['AAPL'].std()

0.020418653172134312

In [13]:
sec_returns['AAPL'].std() * 250 ** 0.5

0.32284725388483276

***

In [14]:
sec_returns[['MSFT', 'AAPL']].mean() * 250

MSFT    0.079336
AAPL    0.235342
dtype: float64

In [15]:
sec_returns[['MSFT', 'AAPL']].std() * 250 ** 0.5

MSFT    0.276346
AAPL    0.322847
dtype: float64

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

*****

In [16]:
cov_matrix = sec_returns.cov()
cov_matrix

          MSFT      AAPL
MSFT  0.000305  0.000165
AAPL  0.000165  0.000417

In [17]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

          MSFT      AAPL
MSFT  0.076367  0.041362
AAPL  0.041362  0.104230

***

In [18]:
corr_matrix = sec_returns.corr()
corr_matrix

          MSFT      AAPL
MSFT  1.000000  0.463608
AAPL  0.463608  1.000000

## Calculating Portfolio Risk

Equal weigthing scheme:

In [19]:
weights = np.array([0.5, 0.5])

Portfolio Variance:

In [20]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.065830278588091179

Portfolio Volatility:

In [21]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
pfolio_vol

0.25657411909249767

In [22]:
print str(round(pfolio_vol, 5) * 100) + ' %'

25.657 %